@import "./res/colors.styl"
@import "./res/fonts.styl"

.Section-title
  text-align center
  font-size 2em
  font-family $vt323
  color $gray-shell

.clearfix
  visibility hidden
  display block
  font-size 0
  content " "
  clear both
  height 0
  

@import "../views/Partials/navbar/navbar.styl"
@import "../views/Section-main/section_main.styl"
@import "../views/Section-about/section_about.styl"
@import "../views/Section-work/section_work.styl"