mixin hover_circle_deep(icon, title, info, id)
	div(class="ripper-ItemCircle text-center", id=id)
		div.ripper-ItemCircleIcon
			i(class=icon)
		div(class="ripper-ItemCircleInfo")
			h3 "#{title}"
			p "#{info}"