div(class="navbar navbar-default", role="navigation")
  .container-fluid
    .navbar-header
      button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar-collapse-1")
        span(class="sr-only") Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    div(class="collapse navbar-collapse", id="navbar-collapse-1")
      ul(class="nav nav-justified")
        li
          a(href="#") Inicio
        li
          a(href="#") Acerca de mi
        li
          a(href="#") Mi trabajo
        li
          a(href="#") Contacto