div(class="navbar navbar-default", role="navigation")
  .container-fluid
    .row
      .navbar-header
        button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar-collapse-1")
          span(class="sr-only") Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      div(class="collapse navbar-collapse", id="navbar-collapse-1")
        ul(class="nav nav-justified")
          li
            a(href="#") inicio
          li
            a(href="#") acerca de mi
          li
            a(href="#") perfil
          li
            a(href="#") contacto