$vt323 = 'VT323', sans-serif ;
$rock = 'Rock Salt', cursive, sans-serif;
$amatic = 'Amatic SC', cursive, sans-serif;
$finger = 'Finger Paint', cursive, sans-serif;
$ubuntu = 'Ubuntu Mono', sans-serif;