meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
title ricardo_pcan
meta(name="viewport", content="width=device-widht, initial-scale=1")
link(href="../../../../lib/css/bootstrap.min.css", type="text/css", rel="stylesheet")
link(href="../../../../lib/css/animate.css", type="text/css", rel="stylesheet")
link(href="../../../../lib/css/font-awesome.min.css", type="text/css", rel="stylesheet")
link(href="../../../../lib/fonts/font-mfizz.css", type="text/css", rel="stylesheet")
link(href="../../../assets/css/main.css", type="text/css", rel="stylesheet")