section#Section_contact
	.container-fluid
		h2(class="Section-title text-center") Contacto
		.row
			div(class="Section-contactContainer")
				div(class="col-xs-12", id="Contact-gmail")
					p hola
				div(class="col-xs-12", id="Contact-celphone")
					p hola
				div(class="col-xs-12", id="Contact-twitter")
					p hola
				div(class="col-xs-12", id="Contact-github")
					p hola

