section#Section-about
  .About-Phrases
    .container-fluid
      .row
        div(class="col-xs-10 col-xs-offset-1")
          h2.Section-title Acerca de mi
          div(class="phrase", id="phrase-primary") I Will Show You How Great I Am
          div(class="phrase", id="phrase-second") Win the Day
          div(class="phrase", id="phrase-thirth") I Will Be A Playmaker Today
  div.About-History
    .container
      .row
        div(class="col-xs-12 col-sm-12 col-md-4 col-lg-4 About-HistoryElement")
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quas asperiores laborum reiciendis accusantium nostrum corporis vel sunt laudantium dicta, culpa, sit, dolor. Vero magnam iste enim repellat, neque quae.
        div(class="col-xs-12 col-sm-12 col-md-4 col-lg-4 About-HistoryElement")
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa repudiandae molestias exercitationem, mollitia illo soluta quibusdam inventore sunt enim nobis. Perspiciatis asperiores doloribus alias sunt non sint sed praesentium, assumenda!
        div(class="col-xs-12 col-sm-12 col-md-4 col-lg-4 About-HistoryElement")
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, sed sequi sapiente error eveniet aut exercitationem vitae voluptatum eius dolor facilis numquam fugiat atque reprehenderit, fugit omnis architecto, consectetur tempore!