section.Section-about
  
  & .About-Phrases
    height 250px
    background-image url(../../app/images/laptop_side.jpg)
    background-color rgba(0,0,0,0.2)
    backgound-repeat no-repeat
    background-size cover
    background-attachment fixed
    & .phrase
      font-family $ubuntu
      color $white
      font-size 1.5em
  & .About-History
    height 250px
    & .About-HistoryElement
      margin-top 20px
      padding 10px
      color $black
      font-family $vt323
      font-size 1.5em
      