section#Section-work
  h2.Section-Title Perfil
  .Work-Skills
    .container-fluid
      .row
        div(class="col-xs-12 col-sm-12 col-md-4 col-lg-4 Section-SkillContainer", id="programming_languages")
          include ../element/skills/java.jade
          include ../element/skills/html.jade
          include ../element/skills/css.jade
          include ../element/skills/javascript.jade
          include ../element/skills/php.jade
        div(class="col-xs-12 col-sm-12 col-md-4 col-lg-4 Section-SkillContainer", id="frameworks")
          include ../element/skills/rails.jade
        div(class="col-xs-12 col-sm-12 col-md-4 col-lg-4 Section-SkillContainer", id="data_bases")
           include ../element/skills/mysql.jade
           include ../element/skills/postgresql.jade
      .row
        div(class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-lg-offset-2", id="operative_systems")
          include ../element/skills/ubuntu.jade
        div(class="col-xs-12 col-sm-12 col-md-6 col-lg-4", id="others")
          
