section#Section-work
  h2.Section-Title Perfil
  .Work-Skills
    .container-fluid
      .row
        div(class="col-xs-12 col-sm-12 col-md-4 col-lg-4 Section-SkillContainer", id="programming_languages")
          div.conatinerskilltest
            include ../element/skills/css.jade
        div(class="col-xs-12 col-sm-12 col-md-4 col-lg-4 Section-SkillContainer", id="frameworks")
          
        div(class="col-xs-12 col-sm-12 col-md-4 col-lg-4 Section-SkillContainer", id="data_bases")
           
      .row
        div(class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-lg-offset-2", id="operative_systems")
          
        div(class="col-xs-12 col-sm-12 col-md-6 col-lg-4", id="others")
          
