@import "../../css/res/colors.styl"
@import "../../css/res/fonts.styl"
.Section-main
	background-color $blue-main
	height 50vh
	position relative
	&Title
		font-family $ubuntu
		font-size 2.5em
		margin-top 15%
		& span.shell
			color $gray-shell
		& span.cmd
			color $purpple-shell
		& span.name
			color $white
	&NavWrapper
		position absolute
		width 100%
		bottom -20px
		left -1px