section#Section-main
  .container
    .row
      div(class="col-xs-10 col-xs-offset-1")
        h2.Section-mainTitle Ricardo Alberto P&eacute;rez Candelas
    .row
      include ../Partials/navbar/_navbar
