doctype html
html(lang="es")
  head
    include ../Partials/head/_head
  body
    include ../Section-main/section_main.jade
    include ../Section-about/section_about.jade
    include ../Section-work/section_work.jade
    include ../Section-contact/section_contact.jade
    include ../Partials/tail/_tail